<h2>This is the page for editing existing tracks (from Track#edit)!</h2>


<form class="" action="<%= track_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">Title</label>
    <input type="text" name="track[title]" id="title" value="<%= @track.title %>">
  <br/>

  <label for="ord">Track Number</label>
    <input type="text" name="track[ord]" id="ord" value="<%= @track.ord %>">
  <br/>

  <label for="album">Album</label>
    <select name="track[album_id]">
      <option selected disabled>Choose Band</option>
      <% albums = Album.all %>
      <% albums.each do |album| %>
        <option value="<%= album.id %>" <%= "selected" if @track.album == album %>><%= album.title %></option>
      <% end %>
    </select>
  <br/>

  <label for="track_type">Track Type</label>
    <input type="radio" name="track[regular_track]" value="true" <%= "checked" if @track.regular_track == true %>>Regular<br>
    <input type="radio" name="track[regular_track]" value="false" <%= "checked" if @track.regular_track == false %>>Bonus<br>
  <br/>

  <label for="lyrics">Lyrics</label>
    <textarea name="track[lyrics]" rows="8" cols="80"><%= @track.lyrics %></textarea>
  <br/>

  <input type="submit" value="Update Track">
</form>
